@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Arial;

}

body {
  background-color: #1A202C
    /*hsl(240, 3%, 7%)*/
  ;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
  /* overflow-y: hidden; */
}

/* Nav */

/* nav {
  height: 60px;
  width: 100%;
  margin-bottom: 1em;
  border-bottom: 1px solid grey;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 45px;
  font-weight: 700;
} */

.login {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  position: absolute;
  right: 75px;
  top: 90px;
}

.logged-in {
  color: white;
  font-weight: 600;
  position: absolute;
  right: 55px;
  top: 80px;
  border: 1px solid white;
  border-radius: 99999px;
  width: 50px;
  height: 50px;
  font-size: 24px;
}

/* Outreach Nav */
nav {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  display: flex;
  width: 100%;
  background-color: #171923;
}

.nav__container {
  height: 4.5rem;
  max-width: 150rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav__logo__img-wrapper {
  width: 45px;
  height: 45px;
  margin-right: 0.75rem;
}

.nav__logo__img {
  width: 100%;
  height: 100%;
}

.nav__page__links {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.nav__page__link {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: white;
  cursor: not-allowed;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  color: #A0AEC0;
}

.nav__social__links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  gap: 1.25rem;

}

/* .nav__social__link {
  width: 1.5rem;
  height: 1.5rem;
} */

.nav__social__link-small {
  width: 1.25rem;
  height: 1.25rem;
  margin-bottom: 0.85rem;
}

.nav__social__link-icon {
  width: 1.5rem;
  height: 1.5rem;
  width: 100%;
  height: 100%;
  line-height: 1em;
}

/* Title */
.title {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

/* Keyboard */

.keyboard {
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3em;
  gap: .25em;
  justify-content: center;
  padding-bottom: 5rem;
}

.key {
  font-size: inherit;
  grid-column: span 2;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue, 200),
      var(--saturation, 1%),
      calc(var(--lightness, 51%) + var(--offset, 0%)));
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key.large {
  grid-column: span 3;
}

.backspace {
  width: 1.75em;
  height: 1.75em;
}

.key:hover {
  --offset: 10%;
}

.key:focus {
  outline: none;
  box-shadow: none;
}

.key.wrong {
  --lightness: 23%;
}

.key.wrong-spot {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.key.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

/* Grid */
.grid {
  display: grid;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
  grid-template-columns: repeat(5, 4em);
  grid-template-rows: repeat(6, 4em);
  gap: 0.25em;
  margin-bottom: 1em;

}

.tile {
  font-size: 2em;
  color: white;
  border: 0.05em solid grey;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: hsl(var(--hue, 0),
      var(--saturation, 0%),
      var(--lightness, 0%));
  transition: transform 250ms linear;
}

.tile.wrong {
  background-color: #3a393c;
}

.tile.wrong-spot {
  --hue: 49;
  --saturation: 51%;
  --lightness: 47%;
}

.tile.correct {
  --hue: 115;
  --saturation: 29%;
  --lightness: 43%;
}

/* Sign up screen */
.signup-screen {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid hsl(240, 2%, 23%);
  border-radius: 4px;

  /* visibility: hidden; */
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.signup-exit {
  position: absolute;
  right: 20px;
}

.signup-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.signup-text {
  font-size: 16px;
  font-weight: 700;
}

.signup-form input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.signup-login {
  display: flex;
  justify-content: center;
}

.signup-login-btn {
  color: blue;
  text-decoration: underline;
  margin-left: 4px;
}

.signup-btn {
  font-weight: 700;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding: 8px 0px;
  border-radius: 4px;
}

/* Login Screen */

.login-screen {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid hsl(240, 2%, 23%);
  border-radius: 4px;

}

.login-exit {
  position: absolute;
  right: 20px;
}

.login-title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-text {
  font-size: 16px;
  font-weight: 700;
}

.login-form input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.login-btn {
  font-weight: 700;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding: 8px 0px;
  border-radius: 4px;
}

/* Game Over */

.end-screen {
  width: 550px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 3px solid hsl(240, 2%, 23%);
  border-radius: 4px;
}

.end-exit {
  position: absolute;
  right: 20px;
}

.end-data {
  margin-top: 20px;
}

.end-title {
  font-family: "Libre Franklin", Arial;
  font-size: 34px;
  font-weight: 700;
  text-align: center;

}

.end-statistics {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.end-statistics-title {
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.end-statistics-stats {
  display: flex;
  gap: 64px;
  justify-content: center;
}

.end-stat {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  text-align: center;

}

.end-stat-num {
  font-family: "Libre Franklin", Arial;
  font-size: 36px;
}

.end-stat-title {
  font-size: 20px;
  letter-spacing: 0.03em;
  font-weight: 600;

}

.end-distribution {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.end-distribution-title {

  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
}

.end-distribution-distributions {
  display: flex;
  flex-direction: column;
}

.end-distribution-distribution {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-right: 24px;
}

.end-distribution-distribution-attempt {
  font-family: "Libre Franklin", Arial;
  font-size: 22px;
  font-weight: 600;
}

.end-distribution-distribution-num {
  font-family: "Libre Franklin", Arial;
  font-size: 22px;
  font-weight: 600;
}

.end-btn {
  font-family: "Libre Franklin", Arial;
  font-weight: 700;
  background-color: black;
  color: white;
  width: 100%;
  margin-top: 20px;
  padding: 8px 0px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
}

.end-notlogged {
  font-size: 24px;
  text-align: center;
}